body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#header{
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/hintergrund.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.user-box{
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.user-box img{
border-radius: 20%;
width:250px;
border: 2px solid #1d1e2b;
}

.user-box h1{
	color: #fff;
	font-weight: bold;
	margin: 10px;
}

.user-box {
	color: #fff;
}

.scroll-btn{
	bottom: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #fff;
	padding: 10px 10px 20px;
	border-radius: 30px;
}

.scroll-bar span{
	border: 2px solid #fff;
	font-size: 10px;
	border-radius: 30px;
}

.scroll-bar{
	animation: mover ls infinite alternate;
}

@keyframes mover {
	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}
}

/********** about me new **************/
.section-1 {
	padding-top: 7rem;
	padding-bottom: 15rem;
  }
  
  .section-1 .row .col-md-6 .bild img {
	width: 70%;
	border-radius: 0.2em;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
  }
  
  .section-1 .row .col-md-6:last-child {
	position: relative; /*Das Element wird vom normalen Fluss aus verschoben und hat 
	keinen Einfluss auf andere Elemente, da an der ursprünglichen Position Platz gelassen wird*/
  }
  
  .section-1 .row .col-md-6 .panel {
	position: absolute; /*Das Element wird aus dem normalen Fluss gelöst und unabhängig verschoben. Dabei können andere Elemente verdeckt werden. 
	Diese verhalten sich so, als ob das Element nicht vorhanden wäre und lassen keinen Platz für das Element.*/
	top: 7vmin; /*damit sich kasten bewegt beim vergrößern/verkleinern vom bildschirm*/
	left: -15vmin; /*--Überlappung von Bild und TextContainer--*/
	background: white;
	border-radius: 3px;
	text-align: left;
	padding: 7vmin 8vmin 13vmin 12vmin; /*top, right, bottom, left*/
	box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2); /*--Shadow Boxrand--*/
	font-family: var(--Rubik); /*--Schriftart--*/
	z-index: 1;
  }
  
  .section-1 .row .col-md-6 .panel h1 {
	font-weight: bold;
	padding: 0.4em 0;
	font-size: 2em;
  }
  
  .section-1 .row .col-md-6 .panel p {
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.5);
  }

/*media queries müssen von oben nach unten geordnet sein, wegen max!!!!!*/
@media only screen and (max-width: 1200px) {
	.section-1{
		padding-bottom: 20rem;
		padding-top: 8rem;
	}
}

@media only screen and (max-width: 992px) {
	.section-1{
		padding-top: 8rem;
		padding-bottom: 27rem;
	}
	.section-1 .row .col-md-6 .panel{
		position: absolute;
		left: -10vmin;
		padding: 5vmin 7vmin 7vmin 10vmin; /*top, right, bottom, left*/
	}
}

@media only screen and (max-width: 768px) {
	.section-1 .row .col-md-6 .panel {
	 position: initial; /*initial setzt Wert (height) zurück auf 100% (nicht 80%)*/
	 width: initial;
	 height: initial;
   }
   .section-1{
	   padding-bottom: 5rem;
	   padding-top: 3rem;
   }
   .panel{
	   margin-top: 1rem;
   }
}

/*--------------nav----------*/

.nav-bar{
	top: 0;
	position: sticky;
	z-index: 2; /*bleibt immer oben am rand über allem*/
}

.navbar{
	/*background colour nav bar--nein??!*/
}

.navbar-brand img{
	height: 50px; /*logo*/
}

.nav-bar .fa-bars{
	font-size: 35px;
}

.navbar-toggler{
	outline: none !important; /*outline ist linie drum rum*/
}

.navbar-nav{
	float: right;
	text-align: right;
}

/*----------skills ----------------*/
#skills{
	padding-top: 10px;;
	padding-bottom: 60px;
}
#skills h2{
	padding-bottom: 20px;
}

#skills .services-box{
	background: #f9f9f9;
}

#skills .services-box:hover{
	background: #000;
	color: #fff;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s;
}

#skills .services-box:hover p{
	color: #fff;
}

.skills-other{
	padding-top: 30px;
}

/*------------resume------------------*/
.resume{
	padding-top: 50px; /*klebt sonst oben am foto*/
	padding-bottom: 60px;
	background: #f9f9f9; /*hintergrund "kasten" mit farbe abgegrenzt*/
}

.resume h2{
	margin-bottom: 50px;
}

.timeline{
	list-style-type: none;
	position: relative;
}

.timeline:before{ /*linie links von lebenslauf*/
	content:'';
	background: #555;
	position: inline-block;
	position:absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
}

.timeline li{ /*einzelne kasten im "experience" kasten*/
	margin-top: 20px;
	margin-bottom: 20px; 
	margin-left: 20px;
	background: #fff;
}

.timeline li h4{
	background-color: #000; /*farbe balken überschrift*/
	padding: 5px 0 5px 20px;
	color: #fff;
	font-size: 15px;
}

.timeline li h4 span{ /* "2018 schriftart und farbe ändern*/
font-weight: bold;
color: #ccc;
}

.timeline li:before{ /*links von auflistung positioniert*/
	content: '';
	background: #fff;
	position: absolute;
	display: inline-block;
	border-radius: 50%;
	border: 3px solid #000;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index:1;
}

/*------------------social------------------------*/
#social{
	padding-top: 60px;
	padding-bottom: 60px;
}

#social h1{
	padding-bottom: 30px;
}

#social h3{
	padding-bottom: 10px;;
}

.social-box{
	background: #f9f9f9;
	padding: 10px;
	margin-top: 20px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}

.social-box:hover{
	background: #000;
	color: #fff;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s;
}

.social-box:hover p{
	color: #fff;
}

/*-------------services/interest------------------*/
.services{
	padding-top: 60px;
	padding-bottom: 70px;
	background: #f9f9f9;
}

.services h1{
	padding-bottom: 30px;
}

.services-box{
	background: #fff;
	padding: 10px;
	margin-top: 20px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}

.services-box .fa{ /*kasten um boxen*/
	margin: 0 10px;
	font-size: 20px;
}

.services-box span{ /*schrift von überschrift*/
	margin: 3px;
	font-size: 20px;
	font-weight: bold;
}

.services-box p{
	font-size: 15px;
	margin-top: 20px;
	color: #777;
}

.services-box:hover{
	background: #000;
	color: #fff;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s;
}

.services-box:hover p{
	color: #fff;
}


/*---contact----*/
.contact{ /* hintergrundbild */
	padding-top: 50px;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/hintergrund.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.contact .row{
	padding: 30px 0;
	font-size: 15px;
}

.contact .col-md-4 .fa{
	padding: 10px;
	font-size: 30px;
}

.contact .btn{
	padding: 10px 25px 10px 25px;
	margin: 5px;
	border-radius: 30px;
	border: 2px solid #fff;
	background: transparent;
}

.contact .btn{
	box-shadow: none !important;
}

.contact .btn:hover{
	border: 2px solid #000 !important;
	background: #000 !important;
	transition: 0.6s;
}

.contact .btn .fa{
	margin-right: 10px;
}

.footer{
	background: #000;
	height: 50px;
	margin-top: 50px;
}